numpy
scipy
matplotlib
pandas
sympy
openpyxl
ipywidgets

scikit-learn
torch
torch-geometric
torchvision
torchbnn
torchinfo
tensorflow
gpytorch
botorch
deepxde

optuna
networkx

# Install local shared package in editable mode (repo root).
-e .
